[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "submodules/nativefiledialog-extended"]
	path = submodules/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "submodules/shaderc"]
	path = submodules/shaderc
	url = https://github.com/KhronosGroup/shaderc.git
