[submodule "submodules/nativefiledialog-extended"]
	path = submodules/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "submodules/backend"]
	path = submodules/backend
	url = https://github.com/MatthewMer/backend.git
